<% content_for :body_content_left do %>
  <ul id="portfolios">
    <% @portfolios.each do |portfolio| %>
      <section>
        <p>
          <%=raw portfolio.title %>
        </p>
      </section>
      <section>
        <p>
          <%=raw portfolio.description %>
        </p>
      </section>
      <section>
        <p>
          <%= image_fu portfolio.picture, nil %>
        </p>
      </section>
    <% end %>
  </ul>
<% end %>

<%= render :partial => "/shared/content_page" %>
