<% content_for :body_content_left do %>
  <ul id="portfolios">
    <% @portfolios.each do |portfolio| %>
        <%= link_to portfolio.title, portfolio.url %>

      <section>
        <p>
          <%= image_fu portfolio.picture, nil %>
        </p>
      </section>  
      <section>
          <p>
            <%=raw portfolio.description %>
          </p>
        </section>
    <% end %>
  </ul>
<% end %>

<%= render :partial => "/shared/content_page" %>
